__pycache__/
*.py[cod]
.venv/
venv/
dist/
build/
*.spec
release/
.DS_Store
models/*.bin
*.wav
logs/

resources/bin/

vendor/

*.egg-info/

models/piper/

models/douyin_cookies.txt

artifacts/

models/douyin_login_cookies.txt

models/audio8/
